= form_for @pitch do |f|
  - if @pitch.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pitch.errors.count, "error")} prohibited this pitch from being saved:"
      %ul
        - @pitch.errors.full_messages.each do |msg|
          %li= msg

  %div
    .field.input-block-level
      = f.label :title
      = f.text_field :title
    .span.help-inline
      A descriptive title for your Pitch. 
  %div
    .field.input-block-level
      = f.label :description
      = f.text_area :description
  %div
    .span.help-inline
      (todo)
  %div  
    .field
      = f.label :video_url
      = f.text_field :video_url
  %div
    .span.help-inline
      %img.pull_left{:src => "http://s.ytimg.com/yt/img/creators_corner/YouTube/youtube_32x32.png" }
      You Tube URL for your Pitch (eg: http://youtu.be/xMc_t33AZmI)
  %div
    .field
      = f.label :location
      = f.text_field :location
  %div
    .field
      = f.label :email
      = f.text_field :email
  %div
    .field
      = f.label :skill_list
      = f.text_field :skill_list
  %div
    .field
      = f.label :domain_list
      = f.text_field :domain_list
  %div
    .actions
      = f.submit 'Save'
