
%a.pull-right#see-featured{:href => "/#pitch-in"} Join a featured project!

.row.hero-unit#call-to-action
  %h1
    Your ideas are enormous.

  %h2
    Don't carry them alone.
  %p
    Find other people who are just as excited as you are.

  %a.btn.btn-success.btn-large#pitch-in-home-btn
    Pitch-on!
  %p.muted#pitch-in-btn-description Make a pitch and get people involved.


.well#further-information

  #introduction-video.span6
    %iframe{:width=>"420px", :height=>"315px", :src=>"http://www.youtube.com/embed/T2zERHvSr-Y?wmode=opaque", :frameborder=>"0", :style => "border: 1px solid #000"}

  #introduction-text.span5
    %p
      The world is not a perfect place.
    %p
      Do you have ideas about how to improve it?
    %p
      We have the online platform for you! Pitch your idea in under 60 seconds, and connect with the people you need.
    %p
      Want to
      %a{:href => "/about"} learn more?


.clearfix

%h1#pitch-in.page-header
  Pitch in!
  %small
    get involved in a project
%ul#pitches
  - @pitches.each do |pitch|
    %div.pitch.row-fluid.box

      %span.index-thumbnail.span3
        = link_to image_tag("http://img.youtube.com/vi/#{youtube_embed_code pitch.video_url}/0.jpg"), pitch

      %span.index-body.span6
        %h2
          = link_to pitch.title, pitch
        %p.location
          = pitch.location


      %span.index-details.span3.pull-right
        .tags.well.well-small
          %p Project needs:
          - pitch.skill_list.each do |skill|
            %span.label.label-info.tag= skill
        %p.edit
          / %span= link_to pitch.title, pitch
          / %span= link_to 'Edit', edit_pitch_path(pitch)
          / %span= link_to 'Destroy', pitch, method: :delete, data: { confirm: 'Are you sure?' }


