%p#notice= notice


%header
  %hgroup
    %h1.page-header
      Title:
      = @pitch.title

  %p
    Location:
    = @pitch.location

#video.span8
  Video url:
  = @pitch.video_url

#side-bar.span4.offset8
  #information
    %button.btn.btn-primary{:name => "build"}
      Build it!
    %button.btn.btn-info{:name => "follow"}
      Tell me when it starts!
  #tags
    - @pitch.skill_list.each do |skill|
      %span.label.label-info= skill


%section.span8#description
  Description:
  = @pitch.description

.span2.offset10
  = link_to 'Edit', edit_pitch_path(@pitch)
  \|
  = link_to 'Back', pitches_path
