%header.page-header
  %hgroup
    %h1
      = @pitch.title
      %small#location
        = @pitch.location

#video.span8
  %iframe{:width => "100%", :height => "400px", :src => "#{youtube_embed_url @pitch.video_url}", :title => "YouTube video player", :allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0"}


#side-bar.span3

  #actions

    %button.btn.btn-primary.btn-large#get-involved-btn
      Get Involved!

    .hide.alert.alert-success#get-involved-success Nice, we'll let you know how you can help!

    .hide.alert.alert-error#get-involved-failure Something went wrong, check that the email is valid
    .hide#get-involved-container= render partial: 'participation_requests/form'

    #twitter
      %a.twitter-share-button{:href => "://twitter.com/share", :data => {:url => "http://www.pitchpatch.co", :via => "pitchpatchco", :lang => "en"}}


  #tags.well.well-small
    %p I need a...
    - @pitch.skill_list.each do |skill|
      %span.label.label-info.tag= skill


%section.span8#description
  = raw @pitch.description

:javascript
  var pitch_participation_requests_path = "#{pitch_participation_requests_path @pitch}";

:javascript
  $(document).ready( function() {
    // $(".twitter-share-button").data('url', document.location.href)
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  })
