%header.page-header
  %hgroup
    %h1
      = @pitch.title
      %small#location
        = @pitch.location

#video.span8
  %iframe{:width => "100%", :height => "400px", :src => "http://www.youtube.com/embed/#{youtube_embed_code @pitch.video_url}?wmode=opaque", :title => "YouTube video player", :allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0"}


#side-bar.span3

  #actions

    - if current_user && current_user.pitches.include?(@pitch)
      %button.btn.btn-large= link_to 'Edit', edit_pitch_path(@pitch)
      %button.btn.btn-large.btn-danger= link_to 'Delete', @pitch, method: :delete
    - else
      %button.btn.btn-primary.btn-large#get-involved-btn
        Get Involved!

    .hide.alert.alert-success#get-involved-success Nice, we'll let you know how you can help!

    .hide.alert.alert-error#get-involved-failure Something went wrong, check that the email is valid
    .hide#get-involved-container= render partial: 'participation_requests/form'

    .social
      .addthis_toolbox.addthis_default_style{:tw => {:via => "pitchpatchco"}}
        %a.addthis_button_preferred_1
        %a.addthis_button_preferred_2
        %a.addthis_button_preferred_3
        %a.addthis_button_preferred_4
        %a.addthis_button_compact
        %a.addthis_counter.addthis_bubble_style



  #tags.well.well-small
    %p I need a...
    - @pitch.skill_list.each do |skill|
      %span.label.label-info.tag= skill


%section.span8#description
  = raw @pitch.description

:javascript
  var pitch_participation_requests_path = "#{pitch_participation_requests_path @pitch}";

/ AddThis social widget javascript
%script{:type => "text/javascript",
        :src  => "http://s7.addthis.com/js/300/addthis_widget.js#pubid=xa-50a8af9b09fdf947"}

:javascript
  var addthis_share = {
        templates:
          {twitter: '{{title}}: {{url}}'}
    }

