%p#notice= notice


%header.page-header
  %hgroup
    %h1
      Title:
      = @pitch.title

  %p#location
    Location:
    = @pitch.location

#video.span8
  Video url:
  = @pitch.video_url

#side-bar.span4.offset8
  #information
    %button.btn.btn-primary{:name => "build"}
      Build it!
    %button.btn.btn-info{:name => "follow"}
      Tell me when it starts!
  #tags
    - @pitch.skill_list.each do |skill|
      %span.label.label-info= skill


%section.span8#description
  Description:
  = @pitch.description
