<!DOCTYPE html>
<html>
<head>
  <title>PitchPatch</title>

  <!-- Facebook OpenGraph datapoints -->
  <meta property="og:title" content="PitchPatch" />
  <!-- <meta property="og:description" content="Should be less than ~155 characters, ideally." /> -->
  <!-- <meta property="og:image" content="http://example.com/image.png" /> -->

  <!-- Domains verification -->
  <meta name="google-site-verification" content="Pepgd5uG4mmAyTsLZFZSUA7_lFkiXqOIsOLqPgTg81Y" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application",        :media => "all" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="container">
<% if notice %>
  <p class="notice alert alert-success"><%= notice %></p>
<% elsif alert %>
    <p class="alert alert-error"><%= alert %></p>
<% end %>

<!-- Navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="/"><%=image_tag("pitchpatchlogo_sm.png", :size => "150x84", :alt => "Pitch Patch") %></a>
    <ul class="nav">
      <li><span class="btn btn-slim"><%= link_to 'Pitch-on!', new_pitch_path, { id: 'pitch-in-btn' }%></span></li>
      <li><a href="/#pitch-in">Pitch in</a></li>
      <li><a href="/about.html">Questions?</a></li>
    </ul>
    <ul class="nav nav-pills pull-right">
      <% if user_signed_in? %>
        <li><%=  link_to 'Log out', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <li><%= link_to 'Sign in', new_user_session_path %><li>
      <% end %>
    </ul>
  </div>
</div>


<%= yield %>

</div> <!-- container div -->

<!-- Footer -->
<footer class="footer">
<div class="container">
    <div class="span3">
        <p><a href="https://github.com/jeffbr13/inception">PitchPatch</a> development version.</p>
        <p>Copyright © 2012.</p>
    </div>
    <div class="span3 pull-right">
        <p>Keep up to date on <a href="https://www.facebook.com/pages/PitchPatch/474280455928477">Facebook</a>.</p>
        <p>Follow us on <a href="https://twitter.com/pitchpatchco">Twitter</a>! <small>(Don't be creepy.)</small></p>
    </div>
</div>
</footer>

</body>
</html>
