<!DOCTYPE html>
<html>
<head>
  <title>PitchPatch</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application",        :media => "all" %>
  <%#<%= stylesheet_link_tag    "bootstrap",   :media => "all" %>%>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="container">


<!-- Navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="/">PitchPatch</a>
    <ul class="nav">
      <li><%= link_to 'New Pitch', new_pitch_path%></li>
    </ul>
  </div>
</div>


<%= yield %>

</div> <!-- container div -->

<!-- Footer -->
<footer class="footer">
<div class="container">
    <p><a href="https://github.com/jeffbr13/inception">PitchPatch</a> development version.</p>
    <p>Copyright (C) 2012</p>
</div>
</footer>

</body>
</html>
