<!DOCTYPE html>
<html>
<head>
  <title>Inception</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <%= stylesheet_link_tag    "application", :media => "all" %>-->
  <%= stylesheet_link_tag    "main",        :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap",   :media => "all" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="container">

<%= yield %>

</div> <!-- container div -->
</body>
</html>
